body {
  font-size: 14px;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.settings-vitrine .sv-middlepanel {
  overflow: auto;
  resize: none;
  border: none;
}
.settings-vitrine {
  resize: vertical;
}

.sv-middlepanel label span {
  user-select: none;
}